.radio-group-permissao {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.radio-button-permissao {
    margin: 5px;
}

.h2 {
  margin: 10px;
}

.section-checkbox {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.margin-checkbox {
    margin: 0 10px;
  }
