<a mat-button color="warn" routerLink="cadastro">
	Adicionar Usuario
</a><br>
<mat-table [dataSource]="dataSource" matSort>

	<mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas;"></mat-row>

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Nome
      </mat-header-cell>
      <mat-cell *matCellDef="let usuario">
        {{ usuario.nome }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        E-mail
      </mat-header-cell>
      <mat-cell *matCellDef="let usuario">
      	{{ usuario.email}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
      	Login
      </mat-header-cell>
      <mat-cell *matCellDef="let usuario">
      	{{ usuario.login }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
      	CPF
      </mat-header-cell>
      <mat-cell *matCellDef="let usuario">
      	{{ usuario.cpf | cpfMask }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="acao">
      <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
      <mat-cell *matCellDef="let usuario">
        <a routerLink="{{ '/admin/atualizacao/' + usuario.id }}"
          ><mat-icon matTooltip="Editar usuário">create</mat-icon></a>
        <a (click)="removerDialog(usuario.id)"
          style="cursor: pointer"><mat-icon matTooltip="Remover usuário">clear</mat-icon></a>
      </mat-cell>
    </ng-container>

</mat-table>

<mat-paginator
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 15, 25]"
>
</mat-paginator>
