<form [formGroup]="form" fxLayoutAlign="center" novalidate>
  <mat-list>
    <mat-list-item>
      <mat-form-field>
        <input matInput placeholder="CPF" type="text" formControlName="cpf" mascara="999.999.999-99">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <input matInput type="text" placeholder="Nome" formControlName="nome">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <input matInput type="text" placeholder="E-mail" formControlName="email">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <input placeholder="Login" matInput type="text" formControlName="login">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <input placeholder="Senha" matInput [type]="hide ? 'password' : 'text'" formControlName="senha">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
      </mat-form-field>
    </mat-list-item>

    <mat-list-item fxLayoutAlign="center">
    <button mat-raised-button color="primary"
      (click)="atualizar()">
      Atualizar
    </button>
    &nbsp;
    <a mat-button color="primary" routerLink="/admin">
      Voltar
    </a>
  </mat-list-item>
  </mat-list>
</form>

