<form [formGroup]="form" fxLayoutAlign="center" novalidate>
  <mat-list>
    <mat-list-item>
      <mat-form-field>
        <input matInput placeholder="CPF" formControlName="cpf" mascara="999.999.999-99">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <input matInput placeholder="Nome" formControlName="nome">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <input matInput placeholder="Login" formControlName="login">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <mat-select placeholder="Perfil"
        formControlName="perfil"
        [(value)]="perfil_id"
        (selectionChange)="perfilSelecionado()">
        <mat-option
          *ngFor="let perfil of perfils"
          [value]="perfil.id">
          {{ perfil.nome }}
        </mat-option>
      </mat-select>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <input [type]="hide ? 'password' : 'text'" matInput placeholder="Senha" formControlName="senha">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </mat-list-item>


    <mat-list-item fxLayoutAlign="center">
	  <button mat-raised-button color="primary"
	  	[disabled]="form.invalid"
	  	(click)="cadastrar()">
	  	Cadastrar
	  </button>
	  &nbsp;
	  <a mat-button color="primary" routerLink="/admin">
	  	Voltar
	  </a>
	</mat-list-item>
  </mat-list>
</form>
